/* normal screen */
body {
background-color: black;
  color: #ffff;
  text-align: center;
  font-family: 'Arimo', sans-serif;
}

h1 {
  font-size: 3.5rem;
  padding: 2% 0;
}

/* h2 {
  padding: 4% 0;
} */

a {
  font-size: 1.5rem;
  margin: 3rem;
  color: #ffff;
  text-decoration: none;
}



p {
  margin-bottom: 0;
  padding: 0 15%;
  font-size: 1.4rem;
}

/* GLOW TEXT */
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #09009B, 0 0 40px #09009B, 0 0 50px #09009B, 0 0 60px #09009B, 0 0 70px #09009B;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #0F00FF, 0 0 40px #0F00FF, 0 0 50px #0F00FF, 0 0 60px #0F00FF, 0 0 70px #0F00FF, 0 0 80px #0F00FF;
  }
}

/* END OF GLOW */


.HeightAuto {
  padding-top: 20% 0;
  width: 100%;
  height: auto;
}

.con-links i {
  float: left;
  margin-right: 10px;
  /* ... */
}

.serviceimg {
  width: 100%;
  height: auto;
}

.serviceimg:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.homeLogo {
  width: 12rem;
  height: 10rem;
}

.barnav{
  position: relative;
  left: 25%;
  right: 1px;
}

.bg-light {
  opacity: 0.5;
}

.con-links {
  text-align: left;

}

.navbar {
  width: 100%;
  position: absolute;
  z-index: 16;
}



.GFX {
  width: 10%;
  height: 15%;
  position: relative;

  z-index: 15;
  opacity: 0.5;
}

.otherpageGFX {
  width: 20%;
  height: auto;
  position: absolute;
  right: 1px;
  top: 5rem;
  z-index: 15;
  opacity: 0.5;
  transform: rotate(20deg);

}

.subhead {
  padding: 2% 2%;
}

.test {
  border: 0;
  border-bottom: 7px dotted #ffff;
  background: none;
  margin-bottom: 2%;
}

hr.test2 {
    border: 0;
    height: 10px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}




.btn {
  margin-top: 7%;
  font-size: 2.5rem;
}

.work {
  padding-bottom: 5rem;
  height: 20rem;
  width: 10rem;
}

.navbar-brand {
  font-size: 3rem;
}



.welcome {
  position: absolute;
  top: 25rem;
  left: 25rem;
  right: 25rem;
  z-index: +11;
}

.dropdown {
  height: 2rem;
}

.image {
  border-radius: 25px;
}

.introVideo {
  width: 100%;
  height: 60rem;
}

.card-text {
  color: black;
}

.card-title {
  color: black;
}

.card {
  position: relative;
  z-index: 2;
  border-radius: 25px;
}

.div3 {
  padding: 5% 15%;
}

.div4 {
  padding: 5% 15%;
}


.div45 {
  padding: 5% 0;
}

.div5 {
  padding: 5% 15%;
}

/* MOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILE */
@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    padding-left: 15%;
    padding-right: 15%;
  }


  p {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .homeLogo {
    width: 100%;
    height: auto;
  }

  .bg-light {
    opacity: 1;
  }

  .navbar {
    width: 100%;
    position: relative;
  }

  .barnav{
    position: relative;
    left: 0%;
    right: 0px;
  }

  .welcome {
    position: absolute;
    top: 12rem;
    left: 20rem;
    right: 20rem;
    z-index: +2;
  }

  .navbar-brand {
    font-size: 3rem;
  }

  .GFX {
    width: 35%;
    height: auto;
    position: absolute;
    left: 1rem;
    top: 30rem;
    z-index: 15;
    opacity: 0.5;
    transform: rotate(-20deg);
  }

  .otherpageGFX {
    width: 20%;
    height: auto;
    position: absolute;
    right: 1px;
    top: 10rem;
    z-index: 15;
    opacity: 0.5;
    transform: rotate(20deg);

  }

  .div3 {
    padding-left: 5%;
    padding-right: 5%;
  }





}

/* Infinite Slider */


 @keyframes scroll {
	 0% {
		 transform: translateX(0);
	}
	 100% {
		 transform: translateX(calc(-250px * 7));
	}
}


 .slider {
	 background: white;
	 box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	 height: 100px;
	 margin: auto;
	 overflow: hidden;
	 position: relative;
	 width: auto;
}
 .slider::before, .slider::after {
	 background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	 content: "";
	 height: 100px;
	 position: absolute;
	 width: 200px;
	 z-index: 2;
}
 .slider::after {
	 right: 0;
	 top: 0;
	 transform: rotateZ(180deg);
}
 .slider::before {
	 left: 0;
	 top: 0;
}
 .slider .slide-track {
	 animation: scroll 40s linear infinite;
	 display: flex;
	 width: calc(250px * 14);
}
 .slider .slide {
	 height: 100px;
	 width: 250px;
}
