body {
  background-color:  #F9975D;
  color: #ffff;
  text-align: center;
}

/* #C85C5C; ()color */


h1 {
  font-size: 2.5rem;
}

.navbar {
  font-size: 2rem;
}

.navbar-brand {
  font-size: 3rem;
}

.dropdown {
  height: 2rem;
}

.image {
  border-radius: 25px;
}


.introVideo {
width: 100%;
height: 60rem;

}

.card-text  {
  color: black;
}

.card-title {
  color: black;
}

.card{
  position: relative;
  z-index: 2;
  border-radius: 25px;
}


.div3 {
  background-color: #F9975D;
  padding: 2% 15%;
}

.div4 {
  background-color: #FBD148;
  padding: 7% 0 ;
}

.div5 {
  background-color: #B2EA70;
  padding: 9% 15%;
}

.div6 {
  background-color: #0F00FF;
  padding: 7% 15%;
}
