/* normal screen */
body {
  background-color: #F9975D;
  color: #ffff;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  padding: 2% 0;
}

a {
  font-size: 1.5rem;
  margin: 3rem;
  color: #ffff;
}

a:hover {
  color: #C85C5C;
}

p {
  margin-bottom: 0;
  font-size: 2rem;
}

.GFX {
  width: 50%;
  height: auto;
  position: absolute;
  left: 1px;
  top: 36rem;
  z-index: 15;
  opacity: 0.5;
  transform: rotate(-20deg);
}

.subhead {
  padding: 2% 2%;
}

.test {
  border: 0;
  border-bottom: 7px dotted #C85C5C;
  background: none;
}

.btn {
  margin-top: 7%;
  font-size: 2.5rem;
}

.work {
  padding-bottom: 5rem;
  height: 40rem;
}

.navbar-brand {
  font-size: 3rem;
}

.navbar {
  position: relative;
  z-index: 10;
}

.welcome {
  position: absolute;
  top: 25rem;
  left: 25rem;
  right: 25rem;
  z-index: +11;
}

.dropdown {
  height: 2rem;
}

.image {
  border-radius: 25px;
}

.introVideo {
  width: 100%;
  height: 60rem;
}

.card-text {
  color: black;
}

.card-title {
  color: black;
}

.card {
  position: relative;
  z-index: 2;
  border-radius: 25px;
}

.div3 {
  background-color: #F9975D;
  padding-top: 7%;
  padding-bottom: 2%;
  padding-right: 15%;
  padding-left: 15%;
}

.div4 {
  background-color: #B2EA70;
  padding: 7% 15%;
}

.veb {
  background-color: #B2EA70;
}

.div45 {
  background-color: #C85C5C;
  padding: 7% 15%;
}

.div5 {
  background-color: #FBD148;
  padding: 7% 15%;
}

.div6 {
  background-color: #0F00FF;
}

/* MOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILE */
@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 3.5rem;
  }

  p {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .welcome {
    position: absolute;
    top: 12rem;
    left: 20rem;
    right: 20rem;
    z-index: +2;
  }

  .navbar-brand {
    font-size: 3rem;
  }

  .GFX {
    width: 50%;
    height: auto;
    position: absolute;
    left: 1rem;
    top: 25rem;
    z-index: 15;
    opacity: 0.5;
    transform: rotate(-20deg);
  }

}

/* CARROUSELCARROUSELCARROUSELCARROUSELCARROUSELCARROUSELCARROUSELCARROUSELCARROUSEL */
#slideshow {
  margin: 0 auto;
  height: 250px;
  width: 100%;
}

.slideshow-title {
  font-family: 'Allerta Stencil';
  font-size: 62px;
  color: #ffff;
  margin: 0 auto;
  text-align: center;
  margin-top: 25%;
  letter-spacing: 3px;
  font-weight: 300;
}

.sub-heading {
  font-size: 18px;
}

.sub-heading-two {
  font-size: 15px;
}

.sub-heading-three {
  font-size: 13px;
}

.sub-heading-four {
  font-size: 11px;
}

.sub-heading-five {
  font-size: 9px;
}

.sub-heading-six {
  font-size: 7px;
}

.sub-heading-seven {
  font-size: 5px;
}

.sub-heading-eight {
  font-size: 3px;
}

.sub-heading-nine {
  font-size: 1px;
}

.entire-content {
  margin: auto;
  width: 190px;
  perspective: 1000px;
  position: relative;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 120%;
  height: 130px;
  overflow: hidden;
  position: absolute;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(300px);
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

Resources1× 0.5× 0.25×Rerun
